<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Prezado(a) <%= @user.name %>,</h1>
    <p>
      Seu código de autenticação
      É com grande satisfação que damos as boas-vindas ao Espresso. Estamos felizes em tê-lo(a) como parte da nossa comunidade e esperamos que nossa plataforma atenda todas as suas necessidades de gestão de despesas corporativas.
      Segue abaixo as suas credenciais de acesso ao sistema:

      Usuário: <%= @user.email %>
      Senha: <%= @password %>
    </p>
    <p>
      1 - Acesse o Espresso através do link fornecido.
      2 - Faça login com o seu usuário e senha.
      Agradecemos a sua confiança e desejamos uma excelente experiência com o Espresso.
      Atenciosamente,
    </p>
    <p>Se tiver alguma dúvida ou precisar de ajuda, entre em contato conosco através do suporte@espressoapp.com.br
❤️ Time do Espresso</p>
  </body>
</html>
